button.reference-dialog-trigger {
  background-color: #E0E7EF;
  background-image: url('search.png');
  background-position: center center;
  background-repeat: no-repeat;
  border: 1px solid #333333;
  float: left;
  height: 20px;
  height:20px;
  margin: 1px 5px 0px 0px;
  padding: 0px;
  width: 20px;
}

button.reference-dialog-trigger:hover {
  background-color:#B3D4BF;
  border:1px solid #6BB591;
}

div.reference-dialog div.path-list {
  background-color:#1F626D;
  background-image: url('reflection.png');
  background-repeat: repeat-x;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid: #666;
  height: 16px;
  clear: both;
}

div.reference-dialog span.path-outer {
  display: block;
  line-height: 10px;
  font-size: 10px;
  float: left;
}

div.reference-dialog span.path-inner {
  background-image: url('drillup-r.png');
  background-position: top right;
  background-repeat: no-repeat;
  display:block;
  padding: 3px 10px 3px 3px;
}

div.reference-dialog span.path-outer a {
  padding: 3px 3px 3px 3px;
}

div.reference-dialog span.path-outer a,
div.reference-dialog span.path-outer a:visited,
div.reference-dialog span.path-outer a:hover {
  color:#B3FFFB;
  text-decoration: none;
}

div.reference-dialog span.path-outer a:hover {
  color: #C5D4CA;
  text-decoration: underline;
}

div.reference-dialog span.path-outer a img {
  float: left;
  margin-right: 3px;
  margin-top: 4px;
}

div.reference-dialog img.reference_add {
    cursor: pointer;
}

div.reference-dialog table.content-list {
  clear: both;
  width: 100%;
  margin-bottom: 20px;
}

div.reference-dialog table.content-list td {
  font-size: 0.8em;
  padding: 3px 10px 3px 3px;
/*  border-bottom: 1px dotted #000;*/
  background-color: white;
}

div.reference-dialog table.content-list td {
  vertical-align: middle;
}

div.reference-dialog table.content-list tr.even td {
  background-color: #eee;
}

div.reference-dialog table.content-list td.cell-icon {
  width: 16px;
}

div.reference-dialog table.content-list td.cell-id {
  width: 20%;
}

div.reference-dialog table.selection-list td.cell-id {
  width: 50%;
}

div.reference-dialog table.content-list td.cell-actions {
  text-align: right;
}

div.reference-dialog table.content-list tr.folderish td {
  cursor: pointer;
  font-weight: bold;
}

div.reference-dialog table.content-list td a, table.content-list td a:visited{
  color: black;
}

div.reference-dialog table.content-list tr.folderish-hover td {
  background-color: #ccc;
}

div.reference-dialog table.content-list tr td {
  line-height: 16px;
}

div.reference-dialog table.content-list tr.current td {
  border-bottom: 1px solid black;
  line-height: 32px;
}

div.reference-dialog table.content-list tr.folderish-hover td.cell-title {
  background-image: url('folder_go.png');
  background-repeat: no-repeat;
  background-position: right center;
}

div.reference-dialog h3 {
  padding-left: 10px;
  color: black;
  background-color: #ccc;
}

div.reference-dialog table.content-list img.button {
  cursor: pointer;
}

div.reference-dialog div.content-list-actions {
  line-height: 25px;
  height: 25px;
  min-height: 25px;
  margin-bottom: 3px;
}

div.reference-dialog div.content-list-action {
  float: left;
}

div.reference-dialog div.content-list-action-add {
  padding-left: 10px;
}

div.reference-dialog div.content-list-action a:hover {
  text-decoration: none;
  background-color: #ddd;
  cursor: pointer;
}

div.reference-dialog div.content-list-action a {
  height: 15px;
  min-height: 15px;
  padding: 1px 4px;
  margin-right: 3px;
  background-color: #ccc;
  border: 1px solid #333;
  border-radius: 3px;
  -moz-border-radius: 3px;
}
