ul.multiple-references li {
  line-height: 20px;
  margin-left: 2em;
  clear: both;
}

a.reference-dialog-edit-link {
  background-image: url('edit.png');
  background-position: center center;
  background-repeat: no-repeat;
  float: right;
  height: 20px;
  height:20px;
  margin: 1px 5px 0px 0px;
  padding: 0px;
  width: 20px;
}

div.reference-dialog div.path-list {
  height: 16px;
  min-height: 16px;
  line-height: 16px;
  padding: 4px 0px 4px 2px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  clear: both;
}

div.reference-dialog span.separator {
  padding: 0px 3px 0px 3px;
}

div.reference-dialog span.last {
  font-weight: bold;
}

div.reference-dialog span.path-outer a {
  color: #000;
  text-decoration: underline;
}

div.reference-dialog span.path-outer a,
div.reference-dialog span.path-outer a:visited,
div.reference-dialog span.path-outer a:hover {
  color: #000;
  text-decoration: underline;
}

div.reference-dialog span.path-outer a:hover {;
  color: #000;
  text-decoration: underline;
}

div.reference-dialog span.path-outer a img {
  float: left;
  margin-right: 3px;
  margin-top: 4px;
}

div.reference-dialog img.reference_add {
    cursor: pointer;
}

div.reference-dialog .listing table {
  clear: both;
  width: 100%;
  margin-bottom: 20px;
}

div.reference-dialog .listing td {
  font-size: 0.8em;
  padding: 3px 10px 3px 3px;
}

div.reference-dialog .listing td {
  vertical-align: middle;
}

div.reference-dialog .listing tr:nth-child(even) {
  background-color: #f3f7fb;
}

div.reference-dialog .listing tr.folderish td {
  cursor: pointer;
  font-weight: bold;
}

div.reference-dialog .listing td a, .listing td a:visited{
  color: black;
}

div.reference-dialog .listing tr.folderish-hover td {
  background-color: #d2e5f9;
}

div.reference-dialog .listing tr td {
  line-height: 16px;
}

div.reference-dialog .listing tr.current td {
  border-bottom: 1px solid black;
  line-height: 32px;
}

div.reference-dialog .listing tr.folderish-hover td.cell_title {
  background-image: url('folder_go.png');
  background-repeat: no-repeat;
  background-position: right center;
}

div.reference-dialog .selection-list {
  border-top: 1px solid black;
  display: none;
}
div.reference-dialog .selection-list table {
  border-left: 2px solid #CCCCCC;
}

div.reference-dialog h3 {
  padding-left: 10px;
  color: black;
  line-height: 24px;
  background-color: #efefef;
}

div.reference-dialog .listing img.button {
  cursor: pointer;
}

div.reference-dialog div.listing-actions {
  line-height: 25px;
  height: 25px;
  min-height: 25px;
  margin-bottom: 3px;
}

div.reference-dialog div.listing-actions select {
  float: left;
}
